.icon {
    fill: currentColor;
}
.icon-arrow-down {
  width: 1.9em;
  height: 1em;
}
.icon-arrow-left {
  width: 0.6em;
  height: 1em;
}
.icon-arrow-right {
  width: 0.6em;
  height: 1em;
}
.icon-arrow-up {
  width: 1.9em;
  height: 1em;
}
.icon-benefits-1 {
  width: 1em;
  height: 1em;
}
.icon-benefits-2 {
  width: 1em;
  height: 1em;
}
.icon-benefits-3 {
  width: 1.4em;
  height: 1em;
}
.icon-benefits-4 {
  width: 1em;
  height: 1em;
}
.icon-benefits-5 {
  width: 1em;
  height: 1em;
}
.icon-benefits-6 {
  width: 1em;
  height: 1em;
}
.icon-close {
  width: 1em;
  height: 1em;
}
.icon-core12 {
  width: 3.1em;
  height: 1em;
}
.icon-email {
  width: 1.4em;
  height: 1em;
}
.icon-facebook {
  width: 1em;
  height: 1em;
}
.icon-instagram {
  width: 1em;
  height: 1em;
}
.icon-logo {
  width: 1em;
  height: 1em;
}
.icon-marker {
  width: 1em;
  height: 1em;
}
.icon-phone {
  width: 1em;
  height: 1em;
}
.icon-play {
  width: 1em;
  height: 1em;
}
.icon-quotes-after {
  width: 1.4em;
  height: 1em;
}
.icon-quotes-before {
  width: 1.4em;
  height: 1em;
}
.icon-tech-1 {
  width: 0.8em;
  height: 1em;
}
.icon-tech-2 {
  width: 1em;
  height: 1em;
}
.icon-tech-3 {
  width: 0.7em;
  height: 1em;
}
.icon-tech-4 {
  width: 1em;
  height: 1em;
}
.icon-tech-5 {
  width: 1em;
  height: 1em;
}
.icon-tech-6 {
  width: 1em;
  height: 1em;
}
.icon-vkontakte {
  width: 1em;
  height: 1em;
}
.icon-youtube {
  width: 1em;
  height: 1em;
}
